### Pandas'ta Özel Günler 

Belirtilen seneler için o aralıktaki özel takvim günlerini içeren dataframe oluşturma.

In [1]:
import pandas as pd
import datetime
import warnings

from workalendar.europe import Turkey
from itertools import chain

In [2]:
warnings.filterwarnings("ignore")

In [3]:
baslangic = 2015
bitis = 2020

dates = []
events = []

cal = Turkey()

In [4]:
special_dates = [cal.holidays(year) for year in range(baslangic, bitis+1)]

In [5]:
dates = [el[0] for el in list(chain(*special_dates))]
events= [el[1] for el in list(chain(*special_dates))]

#### Özel Günler Dataframe'i<br>

`special_dates_df` özel takvim günlerini içeren bir `pandas` dataframe.

In [6]:
special_dates_df = pd.DataFrame({'Date':dates, 'Event':events})
special_dates_df['Date'] =  pd.to_datetime(special_dates_df['Date'])

In [7]:
special_dates_df.head()

        Date                                           Event
0 2015-01-01                                        New year
1 2015-04-23         National Sovereignty and Children's Day
2 2015-05-01                        Labor and Solidarity Day
3 2015-05-19  Commemoration of Atatürk, Youth and Sports Day
4 2015-07-15                Democracy and National Unity Day

#### Tüm Günler Dataframe'i<br>

`calender` özel takvim günlerini içeren bir `pandas` dataframe.

In [8]:
calender = pd.DataFrame({'Date':pd.date_range(start='1/1/'+str(baslangic), end='3/15/'+str(bitis))})

In [9]:
calender.head()

        Date
0 2015-01-01
1 2015-01-02
2 2015-01-03
3 2015-01-04
4 2015-01-05

In [10]:
calender_df = calender.merge(special_dates_df, how='left').fillna('NotASpecialDate')

In [11]:
calender_df.head()

        Date            Event
0 2015-01-01         New year
1 2015-01-02  NotASpecialDate
2 2015-01-03  NotASpecialDate
3 2015-01-04  NotASpecialDate
4 2015-01-05  NotASpecialDate